<div class="cover-user-edit">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-5 mb-5">会員情報編集</h1>
    </div>
    <div class="row justify-content-center">
      <%= form_with model: @customer, local:true do |f| %>
      <div class="form-group">
        <label class="form-label">氏名</label>
        <%= f.text_field :last_name, autofocus: true, id:"inputName", placeholder:"氏", class: "form-control" %>
        <%= f.text_field :first_name, autofocus: true, id:"inputName", placeholder:"名", class: "form-control" %>
        <label class="form-label">フリガナ</label>
        <%= f.text_field :last_name_kana, autofocus: true, id:"inputName", placeholder:"氏", class: "form-control" %>
        <%= f.text_field :first_name_kana, autofocus: true, id:"inputName", placeholder:"名", class: "form-control" %>
      </div>
      <div class="form-group">
        <label class="form-label">郵便番号</label>
        <%= f.text_field :post_code, autofocus: true, id:"post_code", placeholder:"郵便番号", class: "form-control" %>
      </div>
      <div class="form-group">
        <label class="form-label">住所</label>
        <%= f.text_field :address, autofocus: true, id:"address", placeholder:"住所", class: "form-control" %>
      </div>
      <div class="form-group">
        <label class="form-label">電話番号</label>
        <%= f.text_field :telephon_number, autofocus: true, id:"telephon_number", placeholder:"電話番号", class: "form-control" %>
      </div>
      <div class="form-group">
        <label class="form-label">メールアドレス</label>
        <%= f.text_field :email, autofocus: true, id:"email", placeholder:"メールアドレス", class: "form-control" %>
      </div>

      <%= f.submit '編集内容を保存する', class: "btn btn-success" %>
      <%= f.submit '退会する', class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>