<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="order-detail text-center">
        <h3>注文履歴詳細</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <table =class"table" style=”border:none;” >
        <tr>
          <th>購入者</th>
          <td>
            <%= @order.customer.first_name %>
            <%= @order.customer.last_name %>
          </td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td><%= @order.adress %></td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <td>
               <%= form_with model: @order, url: admin_order_path, local: true do |f| %>
               <%= f.select :order_status, Order.order_statuses.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]} %>
          </td>
          <td><%= f.submit '更新' ,class: "btn btn-primary" %></td>
              <% end %>
        </tr>
      </table>
    </div>
  </div>


  <div class="row">
    <table class="table col-md-9">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>制作ステータス</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @order_details. each do |order_details| %>
        <tr>
          <td><%= order_details.product.name %></td>
          <td><%= order_details.product.add_tax_price%></td>
          <td><%= order_details.quantity %></td>
          <td>¥<%= order_details.subtotal %></td>
          <td>
              <%= form_with model: @order_details, url: admin_order_path, local: true do |f| %>
              <%= f.select :produciton_status, OrderDetail.production_statuses.keys.map {|k| [I18n.t("enums.order_detail.production_status.#{k}"), k]} %>
          </td>
          <td><%= f.submit '更新' ,class: "btn btn-primary" %></td>
              <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="maney">
      <table =class"table" style=”border:none;” >
        <tr>
          <th>商品合計</th>
          <td><%= @total_price %>円</td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.postage %>円</td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td><%= @total_bill_maney %>円</td>
        </tr>
      </table>
  </div>
</div>