<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="order text-center">
        <h3>注文履歴一覧</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <table class='col-md-9 table'>
      <thead>
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>販売ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order|%>
        <tr>
          <td>
            <%= link_to admin_order_path(order) do%>
            <%= order.created_at.strftime('%Y/%m/%d/%T') %>
            <% end %>
          </td>
          <td>
            <%= order.customer.first_name %>
            <%= order.customer.last_name %>
          <td>
            <%= order.order_details.count %>
          </td>
          <td>
            <%= order.order_status_i18n %>

          </td>
        </tr>
        <% end %>
      </tbody>
  </div>
    <div class='text-center'>
      <%= paginate @orders %>
    </div>
</div>