<div class="top-container">
  <br>
<div class="container">
  <div class="row justify-content-center">
      <div class="top-cake col-md-8">
        <div class="top-explanation col-md-8">
         <h3>ようこそ、ながのCAKEへ！</h3><br>
         <h4>
         このサイトは、ケーキ販売のECサイトになります。<br>
         会員でない方も商品の閲覧はできますが、<br>
         購入には会員登録が必要になります。<br>
         </h4>
        </div>
      </div>
      <br>
  </div>

  <br>
  <div class="row justify-content-center" style="background-color :white;">
   <h3>人気商品</h3>
  </div>
  <br>
  <div class="row justify-content-center">
    <% @products. first(5). each do |product| %>
        <div class="card col-md-2 text-dark bg-light">
          <div class="card-img-top">
            <%= link_to public_product_path(product.id) do %>
              <%= attachment_image_tag product, :image, :fill, 148, 120 %>
            <% end %>
           </div>
          <div class="card-tatle text-center">
            <%= link_to product.name, public_product_path(product), class:"name" %>
          </div>
          <div class="card-footer" style="align-bottom">
           <span><%= product.selling_price*1.1 .floor %>円(税込)</span>
          </div>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <% if admin_signed_in? %>
  　　<h3><%= link_to "全ての商品を見る>", admin_products_path, class:"list" %></h3>
  　<% else %>
  　  <h3><%= link_to "全ての商品を見る>", public_products_path, class:"list" %></h3>
  　<% end %>
　</div>

</div>
</div>