<div>

  <h2>新規会員登録</h2>

  <%= form_with model: @customer, url: users_sign_up_confirm_path(@customer), local: true do |f| %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name_kana %>
    <%= f.text_field :last_name_kana %>

    <%= f.label :first_name_kana %>
    <%= f.text_field :first_name_kana %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :telephone_number %>
    <%= f.text_field :telephone_number %>

    <%= f.label :encrypted_password %>
    <% if @minimum_encrypted_password_length %>
      (<%= @minimum_encrypted_password_length %>文字以上)
    <% end %>

    <%= f.password_field :encrypted_password %>
    <%= f.password_field :encrypted_password_confirmation %>

    <%= render "sessions/shared/links" %>

    <%= f.submit "確認" %>
  <% end %>
</div>