<div class="container-fluid">
  <div class="row">
    <div class="col-3 ml-3">
     <h2>新規会員登録</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class='col-sm-8 offset-sm-2'>
      <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <div class='form-group'>
          <%= f.label '名前', class: 'col-sm-4' %>
          <%= f.text_field :last_name, placeholder: "氏" %>
          <%= f.text_field :first_name, placeholder: "名" %>
        </div>


        <div class='form-group'>
          <%= f.label 'フリガナ', class: 'col-sm-4' %>
          <%= f.text_field :last_name_kana, placeholder: "セイ" %>
          <%= f.text_field :first_name_kana, placeholder: "メイ" %>
        </div>

        <div class='form-group'>
          <%= f.label 'メールアドレス', class: 'col-sm-4' %><%= f.email_field :email, class: 'col-sm-8', placeholder: "sample@example.com" %>
        </div>

        <div class='form-group'>
          <%= f.label '郵便番号(ハイフンなし)', class: 'col-sm-4' %><%= f.text_field :post_code, placeholder: "0000000" %>
        </div>

        <div class='form-group'>
          <%= f.label '住所', class: 'col-sm-4' %><%= f.text_field :address, class: 'col-sm-8', placeholder: "東京都渋谷区代々木神園0-0" %>
        </div>



        <div class='form-group'>
          <%= f.label '電話番号(ハイフンなし)', class: 'col-sm-4' %><%= f.text_field :telephon_number, placeholder: "00000000000" %>
        </div>

        <div class='form-group'>
          <%= f.label 'パスワード', class: 'col-sm-4' %>
           <%= f.password_field :password, placeholder: "6文字以上" %>
          <% if @minimum_encrypted_password_length %>
            (<%= @minimum_encrypted_password_length %>6文字以上)
          <% end %>
        </div>

        <div class='form-group'>
          <%= f.label '確認用パスワード', class: 'col-sm-4' %>
           <%= f.password_field :password_confirmation, placeholder: "6文字以上" %>
          <% if @minimum_encrypted_password_length %>
            (<%= @minimum_encrypted_password_length %>6文字以上)
          <% end %>
        </div>

        <div class='text-center'>
            <%= f.submit "新規登録" ,class: 'btn btn-primary' %>

          <p>既に登録済みの方</p>
          <p><%= render "public/shared/links" %></p>
          <p>からログインしてください。</p>
        </div>
      <% end %>
    </div>
  </div>
</div>