<div class="container-fluid">
  <div class="row">
    <div class="col-3 ml-3">
     <h2>新規会員登録</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= form_with model: @customer, url: new_customer_registration_path, local: true do |f| %>

        <br><%= f.label :氏 %><%= f.text_field :last_name %>
        <%= f.label :名 %><%= f.text_field :first_name %></br>

        <br><%= f.label :セイ %><%= f.text_field :last_name_kana %>
        <%= f.label :メイ %><%= f.text_field :first_name_kana %></br>

        <br><%= f.label :メールアドレス %><%= f.email_field :email %></br>

        <br><%= f.label :郵便番号 %><%= f.text_field :post_code %></br>

        <br><%= f.label :住所 %><%= f.text_field :address %></br>


        <br><%= f.label :電話番号ハイフンなし %><%= f.text_field :telephone_number %></br>

        <br><%= f.label :パスワード %>
         <%= f.password_field :encrypted_password %>
        <% if @minimum_encrypted_password_length %>
          (<%= @minimum_encrypted_password_length %>6文字以上)
        <% end %></br>

        <br><%= f.label :確認用パスワード %>
         <%= f.password_field :encrypted_password_confirmation %>
        <% if @minimum_encrypted_password_length %>
          (<%= @minimum_encrypted_password_length %>6文字以上)
        <% end %></br>

      <div class="grid-6">
        <%= link_to "新規登録", public_customers_path, class: "btn btn-primary" %>
      </div>

      <p>既に登録済みの方</p>
      <p><%= link_to "こちら", new_customer_session_path %></p>
      <p>からログインしてください。</p>
    <% end %>
  </div>
</div>