<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <%= link_to '一覧画面', admin_products_path, class: 'btn btn-primary' %>
      <h2>商品詳細</h2>
      <%= attachment_image_tag @product,:image,:fill,300,300,format:'jpeg' %>
    </div>
    <div class='col-md-8'>
      <table class='table table-hover'>
        <tbody>
          <tr>
            <th>商品名</th>
            <td><%= @product.name %></td>
          </tr>
          <tr>
            <th>商品一覧</th>
            <td><%= @product.explanation %></td>
          </tr>
          <tr>
            <th>ジャンル</th>
            <td><%= @product.genre.name %></td>
          </tr>
          <tr>
            <th>税抜価格</th>
            <td><%= @product.selling_price %>円</td>
          </tr>
          <tr>
            <th>販売ステータス</th>
            <td><%= @product.is_selling_i18n %></td>
          </tr>
        </tbody>
      </table>
      <div class='text-center'>
        <%= link_to '編集', edit_admin_product_path(@product), class: 'btn btn-primary mr-3' %>
      </div>
    </div>
  </div>
</div>