<% provide(:title, "注文履歴一覧") %>
<div class="container">
<div calss="row">
  <div>
    <h2 class="text-center">注文履歴一覧</h2>
      <% if !@orders.nil? %>
        <table class="table">
          <thead>
            <tr class="info">
              <th><i class="fas fa-calendar-day"></i>注文日</th>
              <th>配送先</th>
              <th>注文商品</th>
              <th>支払金額</th>
              <th>ステータス</th>
              <th>注文詳細</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td>
    		          <%= order.created_at.strftime('%Y/%m/%d/%T') %>
    		        </td>
    		        <td class="text-left">
    		          <%= order.post_code %><br>
    		          <%= order.adress %><br>
    		          <%= order.destination %>
    		        </td>
    		        <td>
    		          <% order.order_details.each do |order_detail| %>
    		          	<%= order_detail.product.name %>
    		          <% end %>
    		        </td>
    		        <td class="text-right">
    		          <%= order.bill_maney %>円
    		        </td>
    		        <td>
    		          <%= order.order_status_i18n %>
    		        </td>
         	      <td>
       	          <%= link_to "表示する", public_order_path(order), class: "glyphicon glyphicon-zoom-in btn btn-success" %>
       	        </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>注文履歴がありません。</p>
      <% end %>
  </div>
</div>
</div>